numpy
pandas
scikit-learn
matplotlib
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
dgl==2.4.0+cu118 --find-links https://data.dgl.ai/wheels/torch-2.4/cu118/repo.html
pymatgen
ase
mp-api
matminer
requests
tqdm
psutil
